
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>我的维修工单信息</title>
<link rel="stylesheet" type="text/css"
	href="../../../jquery-easyui-1.3.3/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="../../../jquery-easyui-1.3.3/themes/icon.css">
<script type="text/javascript"
	src="../../../jquery-easyui-1.3.3/jquery.min.js"></script>
<script type="text/javascript"
	src="../../../jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../jquery-easyui-1.3.3/locale/easyui-lang-zh_CN.js"></script>
<script charset="utf-8"
	src="../../../js/common.js"></script>
</head>
<body style="margin: 1px;" id="ff">
	<div id="tb">
		<div>
			&nbsp;企业(供应商)名称：&nbsp;<input type="text" id="comname" size="20"
				onkeydown="if(event.keyCode==13) searchuserdevice()" />&nbsp;
			设备名称：&nbsp;<input type="text" id="devicename" size="20"
				onkeydown="if(event.keyCode==13) searchuserdevice()" />&nbsp;&nbsp;<a
				onclick="searchuserdevice()" class="easyui-linkbutton"
				iconCls="icon-search" plain="true">搜索</a>
		</div>
	</div>
	<table id="dg"></table>
</body>
<script type="text/javascript">
	$(function() {
		dataGrid = $('#dg').datagrid({
			url : SERVER_URL+'/userDevices/datagridwithmyapply/'+getCookie("id"),
			method : 'GET',
			fit : false,
			fitColumns : true,
			border : false,
			pagination : true,
			idField : 'id',
			pageSize : 10,
			pageList : [ 10, 20, 30, 40, 50 ],
			sortName : 'success',
			sortOrder : 'desc',
			checkOnSelect : false,
			selectOnCheck : false,
			nowrap : false,
			striped : true,
			rownumbers : true,
			singleSelect : true,
			queryParams : {
				userid : getCookie("id")
			},
			frozenColumns : [ [ {
				field : 'dd',
				title : '',
				width : 150,
				hidden : true
			}, {
				field : 'id',
				title : '编号',
				width : 150,
				hidden : true
			},{
                field : 'user.id',
                title : '用户编号',
                width : 150,
                hidden : true
            } ] ],
			columns : [ [ {
                field : 'company.name',
                title : '企业名称',
                width : 150,
                sortable : true
            }, {
				field : 'device.name',
				title : '设备名称',
				width : 150,
				sortable : true
			}, {
				field : 'success',
				title : '设备状态',
				width : 100,
				sortable : true,
                formatter : function(value, row, index) {

                    if(value==true){
                        return "已维修"
					}else{
                        //console.log(row);
                        return "未维修"
					}
                }
			}, {
				field : 'gmtModify',
				title : '修改时间',
				width : 200,
				sortable : true
			}, {
				field : 'action',
				title : '操作',
				width : 100,
				formatter : function(value, row, index) {
				    console.log(row);
					return seedetail(value, row);
				}
			} ] ],
			onLoadSuccess : function() {
				parent.$.messager.progress('close');
			},
			onRowContextMenu : function(e, rowIndex, rowData) {
				e.preventDefault();
				$(this).datagrid('unselectAll');
				$(this).datagrid('selectRow', rowIndex);
				$('#menu').menu('show', {
					left : e.pageX,
					top : e.pageY
				});
			}
		});
	});

	//查看申请详情
    function seedetail(val,row) {
        return "<a href='"+FRONT_URL+"/views/company/deviceDetail.html?jId="
            + row.device.id + "&vId="+row.id+"' target='_blank'>查看详情</a>";
    }

	function searchuserdevice() {
		$("#dg").datagrid('load', {
			"device.name" : $("#devicename").val(),
			"company.name" : $("#comname").val()
		});
	}
</script>

</html>